
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: TT Lakes, sans-serif;
}
@font-face{ 
    font-family: "TT Lakes";
      src: url("TTLakes/TTLakes-Regular.woff") format("woff");
    }
.brends{
    background: #F2F2F2;
}
.brends__caption{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    width: 100%;
    padding: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
   
}

.brends__elem{
    height: 155px;
    background-color: #F2F2F2;
    display: flex;
    
    
}
.brends__item{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    width: 224px;
    height: 72px;
    display: flex;
    justify-content: space-around;
}

.brends__link{
    align-self: center;
}

.show-more{
    display: flex;
    width: 100%;
    align-items: center;
    font-style: normal;
    cursor: pointer;
    
}

.show-more__text:hover{
    transform: scale(1.1);
    color: red;
   
}
.show-more__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    transition-duration: 0.3s;
}

@media (min-width: 768px){
    .brends__elem{
        height: auto;
        margin: 12px;
       
    }
    .brends__wripper{
        display: flex;
        flex-wrap: wrap;
        padding: 12px;
        height: auto;
        width: auto;
    }
    .swiper-pagination{
        display: none;
    }
    .brends__item--hide{
        display: none;
    }
}

@media (min-width: 1120px){
    .brends__elem{
        height: auto;
        margin: 16px;
    }
    .brends__item{
        width: 240px;
    }
    
}
